<div id="desativarProduto">
  <div class="modal-dialog" tabindex="-10" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="max-width: 1000px; margin-top: 64.875px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title"> Desativar Produto</h2>
      </div>
      <div class="modal-body">
        <p class="text-center"> Deseja realmente desativar este produto? </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<span aria-hidden="true"> Cancelar </span>
				</button>
				<button type="button" class="btn btn-success" data-dismiss="modal">
					<span aria-hidden="true" ng-click="desativarProduto()"> Confirmar </span>
				</button>
			</div>
      </div>
    </div>
  </div>
