<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title"> Recuperar Acesso </h2>
      </div>
      <div class="modal-body">
        <form>
          <!-- <div class="form-group">
            <form class="form-inline" name="formUnidade" data-ng-pristine data-ng-submit="Login.cadastrarUnidade(Login.unidade)">
            <!-- <form class="form-inline" name="formUnidade" data-ng-pristine data-ng-submit="Administrador.cadastrarUnidade(Administrador.unidade)">
              <div class="form-group">
                <p>Incluir uma nova unidade como opção de cadastro!</p>
                <label class="unidade" for="inlineFormInput"> Unidade: </label>
                <input type="text" class="form-control" id="unidadeNome" maxlength="20"  title="Inserir unidade." data-ng-model="Login.unidade.unidadeNome" ng-required="true">
                <input type="submit" id="inserirUnidadeSubmit" value="Incluir" class="btn btn-success" data-ng-click="Login.cadastrarUnidade(Login.unidade)">
              </div>
            </form>
            <div class="modal fade" id="editarUnidade">
              <atualizar-unidade></atualizar-unidade>
            </div>
            <div class="modal fade" id="desativarUnidadeSucesso">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2 class="modal-title"> Desativar Unidade </h2>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="text-center">
                        <p> Unidade desativada com sucesso. </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <span aria-hidden="true"> Fechar </span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="desativarErro">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h2 class="modal-title"> Desativar </h2>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="text-center">
                        <p> Não foi possível realizar a ação. </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <span aria-hidden="true"> Fechar </span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="unit in Administrador.unidades">
                    <td>{{unit.unidadeNome}}</td>
                    <td>
                      <!-- <a data-toggle="modal" data-target="#editarUsuario" style="text-decoration: none;" >  <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 30px;"> </span> </a>                       <button data-toggle="modal" data-target="#editarUnidade" type="button" class="btn btn-default" data-ng-click="Administrador.editarUnidade(unit, id_unidade)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 13px;"> </span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
            <p><h5>Para recuperar o acesso, favor entrar em contato com o departamento de Infraestrutura.</h5></p>
          </div>
          <div class="modal-footer">
            <button type="button" autofocus class="btn btn-default" data-dismiss="modal">
              <span aria-hidden="true"> Fechar </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
